*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 12px;
}
h1 {
  margin-bottom: 1em;
}
.calculator {
  border: 1px solid #ccc;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30vw;
}
.calculator-screen {
  width: 100%;
  font-size: 5rem;
  height: 80px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #252525;
  text-align: right;
  padding-right: 20px;
  padding-left: 10px;
}
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 20px;
  border-radius: 2px;
}
button {
  font-size: 2em;
}
.operator {
  color: #337cac;
}
.clear {
  background-color: #ec3737c6;
  border: 1px solid #ec3737ea;
  border-radius: 2px;
  color: #fff;
}
.clear:hover {
  background-color: #c61e1eea;
  border: 1px solid #000;
}
.equal {
  background-color: #3791ecc6;
  color: #fff;
  border: 1px solid #3791ecea;
  border-radius: 2px;
  grid-column: 1 / 5;
}
.equal:hover {
  background-color: #0b549dc6;
  border: 1px solid #000;
}